# Folder for idea
.idea/

# File for idea
*.iml

# Folder for target project
target/

*.jar
*.war
*.ear


# git push origin master
# git fetch origin
# remote now in origin/master
# git merge origin/master
