body
 {
background-image:url(../img/background.jpg);
                background-size: cover;
                background-repeat:no-repeat;
                background-attachment:fixed;
                background-position:0px 0px;

  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.carousel-inner {
width: 1000px;
margin: auto;
height: 800px;
}

