<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--AngularJS-->
    <script src="../../assets/js/angular.min.js"></script>
</head>
<body>

<input type="text" ng-model="test">
<p>{{test}}</p>

<div ng-model="user">
    <input type="text" ng-model="id">
    <input type="text" ng-model="name">
    <input type="text" ng-model="age">
</div>

<table>
    <thead>
    <th>id</th>
    <th>name</th>
    <th>age</th>
    </thead>
    <tbody>
<tr>
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.age}}</td>
</tr>
    </tbody>
</table>


</body>
</html>